<% if @customer.errors.any? %>
  <h2>The following errors prevented the customer details from being saved </h2>
  <ul>
    <% @customer.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model:[:business, @customer], data: { turbo: false }, local: true) do |f| %>

  <p>
    <%= f.label :name%>
    <br>
    <%= f.text_field :name%>
  </p>

  <p>
    <%= f.label :email%>
    <br>
    <%= f.email_field :email%>
  </p>

  <p>
    <%= f.label :phone_number %>
    <br>
    <%= f.number_field :phone_number%>
  </p>

  <p>
    <%= f.submit%>
  </p>

<% end %>
