<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Birth Date</th>
      <th>Gender</th>
      <th>Hobbies</th>
      <th>Address</th>
      <th>Mobile Number</th>
      <th>Document</th>
      <th colspan="9">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %> </td>
        <td><%= employee.employee_name %> </td>
        <td><%= employee.email %> </td>
        <td><%= employee.birth_date %> </td>
        <td><%= employee.gender %> </td>
        <td><%= employee.hobbies %> </td>
        <td><%= employee.addresses[0].house_name%>, <%= employee.addresses[0].street_name%>, <%= employee.addresses[0].road%>, <%= employee.address %></td>
        <td><%= employee.mobile_number %> </td>
        <td><%= image_tag employee.document, style:"width:100px; height:100px;"%> </td>
        <td><%= link_to 'Show',employee_path(employee.id) %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee.id) %></td>
        <td><%= button_to 'Delete', employee_path(employee.id),method: :delete, data: { confirm: "Are you sure to delete this data?" } %> </td>
      </tr>
    <% end %>   
  </tbody>
</table>