<% if @faculty.errors.any? %>
    <h2>The following errors prevented the faculty from being saved </h2>
    
    <ul>
    <% @faculty.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
    <% end %>
    </ul>
<% end %>


<%= form_with(model:@faculty, local: true) do |f| %>

<p>
    <%= f.label :first_name%>
    <br>
    <%= f.text_field :first_name%>
</p>

<p>
    <%= f.label :last_name%>
    <br>
    <%= f.text_field :last_name%>
</p>

<p>
    <%= f.label :date_of_birth%>
    <br>
    <%= f.date_field :date_of_birth%>
</p>

<p>
    <%= f.label :phone_number%>
    <br>
    <%= f.number_field :phone_number%>
</p>

<p>
    <%= f.label :email%>
    <br>
    <%= f.email_field :email%>
</p>
<p>
    <%= f.label :designation%>
    <br>
    <%= f.text_field :designation%>
</p>


<p>
    <%= f.submit%>
</p>


<% end %>