<h3>Chnage Your Password </h3>

<div id="successArea" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
  User Password updated successfully.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="errorArea">
</div>

<%= form_with(model:@user, method: :patch, local:false, url:update_password_user_path, data: { turbo: false }) do |f| %>

  <div class="form-group">
    <%= f.label :password%>
    <br>
    <%= f.password_field :password, id:"password_field", class:"form-control"%>
    <span class="text-danger" id="password_error" style="display:none;">Password at least 8 characters long </span>
 </div>

 <div class="form-group">
    <%= f.label :password_confirm%>
    <br>
    <%= f.password_field :password_confirm, id:"password_confirm_field", class:"form-control"%>
    <span class="text-danger" id="password_confirm_error" style="display:none;">Password and confirm password must be same </span>
 </div>

  <div class="form-group">
    <%= f.submit "Update Password", id:"submit", data: { disable_with: "Saving..." } %>
  </div>
  
<% end %>

<%=  link_to 'Return to Users listing', users_path%>

<script>
  $(document).ready(function()
  {
    //password length validation...
    var pattern = /^[a-zA-Z0-9_-]{8,15}$/;

    $('#password_field').keyup(function(){
      if( pattern.test($('#password_field').val()) ){
        $('#submit').show();
        $('#password_error').hide();
      }
      else{
        $('#submit').hide();
        $('#password_error').show();
      }
    });

    //confirm password and password must be same....
    $('#password_confirm_field').keyup(function(){
      if( $('#password_field').val() == $('#password_confirm_field').val() ){
        $('#submit').show();
        $('#password_confirm_error').hide();
      }
      else{
        $('#submit').hide();
        $('#password_confirm_error').show();
      }
    });
    
  });
</script>
