<% if @order.errors.any? %>
    <h2>The following errors prevented the customer details from being saved </h2>
    <ul>
        <% @order.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
    </ul>
<% end %>

<%= form_with(model:@order, data: { turbo: false }, local: true) do |f| %>
    <p>
        <%= f.label :quantity%>
        <br>
        <%= f.text_field :quantity%>
    </p>

    <p>
        <%= f.label :product_id%>
        <br>
        <%= f.select :product_id, Product.all.map { |p| [p.title, p.id]}%>
    </p>

    <p>
        <%= f.label :customer_id%>
        <br>
        <%= f.select :customer_id, Customer.all.map { |c| [c.fname + " " + c.lname, c.id]}%>
    </p>

    <p>
        <%= f.label :status%>
        <br>
        <%= f.select :status, options_for_select(['booked', 'cancelled'])%>
    </p>

    <p>
        <%= f.submit%>
    </p>
    
<% end %>
