<h1> Orders Listing Page!!!</h1>
<% if current_user && current_user.admin? %>
  <p>
      <%= link_to 'Add New Order', new_order_path %>
  </p>
<% end %>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Total Price </th>
      <th colspan="4">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %> </td>
      <td><%= order.product.product_name %> </td>
      <td><%= order.product.price %></td>
      <td><%= order.total_price %></td>
      <% if current_user && current_user.admin? %>
        <td><%= link_to 'Show', order_path(order.id)%></td>
        <td><%= link_to 'Edit', edit_order_path(order.id)%></td>
        <td><%= button_to 'Delete', order_path(order.id),method: :delete, data: { confirm: "Are you sure to delete this data?" }  %> </td>
      <% end %>
    </tr>
  <%  end %>   
  </tbody>
</table>
