<%=  link_to 'Customers listing', customers_path%> ||
<%=  link_to 'Orders listing', orders_path%> ||
<%=  link_to 'Products listing', products_path%>

<h2>Most sales product by quantity</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Sum of Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% Order.select('customer_id, sum(quantity) as Sum_Of_Quantity').group('customer_id').order(Sum_Of_Quantity: :desc).first(3).each do |s| %>
    <tr>
      <td><%= s.customer.fname %> <%= s.customer.lname %></td>
      <td><%= s.customer.email %></td>
      <td><%= s.customer.phone_number %></td>
      <td><%= s.Sum_Of_Quantity %></td>
    </tr>
  <% end %>   
  </tbody>
</table>
<br>

<h2>Most sales product by price</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Sum of Total Price</th>
    </tr>
  </thead>
  <tbody>
  <% Order.select('customer_id, sum(total_price) as Sum_Of_Total_Price').group('customer_id').order(Sum_Of_Total_Price: :desc).first(3).each do |s| %>
    <tr>
      <td><%= s.customer.fname %> <%= s.customer.lname %></td>
      <td><%= s.customer.email %></td>
      <td><%= s.customer.phone_number %></td>
      <td><%= s.Sum_Of_Total_Price %></td>
    </tr>
  <% end %>   
  </tbody>
</table>
<br>

<h2>Most booked order of product</h2>
<table>
  <thead>
    <tr>
      <th>Total Booked Order</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
  <% Order.group(:customer_id).having(status:'booked').first(5).each do |s| %>
    <tr>
      <td><%= Order.where(customer_id:s.customer_id).where(status:'booked').count %></td>
      <td><%= s.customer.fname %> <%= s.customer.lname %></td>
      <td><%= s.customer.email %></td>
      <td><%= s.customer.phone_number %></td>
    </tr>
  <% end %>   
  </tbody>
</table>
<br>

<h2>Most cancelled order of product</h2>
<table>
  <thead>
    <tr>
      <th>Total Cancelled Order</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
  <% Order.group(:customer_id).having(status:'cancelled').first(5).each do |s| %>
    <tr>
      <td><%= Order.where(customer_id:s.customer_id).where(status:'cancelled').count %></td>
      <td><%= s.customer.fname %> <%= s.customer.lname %></td>
      <td><%= s.customer.email %></td>
      <td><%= s.customer.phone_number %></td>
    </tr>
  <% end %>   
  </tbody>
</table>
<br>
